html body {

  width:100%;
}

body {

  background: radial-gradient(silver, seashell, rgb(223, 223, 196), rgb(155, 177, 155));
}


h1 {

  color: seagreen;
  font-size: 4em;
  font-weight: bold;
  text-align: center;
  margin: auto;
  padding: 3%;
}

.randomimage img {

  border: solid 2px black;
  height: 270px;
  width: 300px;
  -o-object-fit: contain;
  object-fit: contain;
  background: white;
  margin-top: 25px;
}

section {

width: 960px;
margin: auto;

}

li {

  padding: 5px;
  margin: auto;
  text-align: left;
  
}
.randomimage {

  height: 50%;
}

p {

  text-align: center;
  font-size: 2em;
}

#results {

  text-align: center;
}


