
h1 {

  color: red;
  font-size: 4em;
  font-weight: bold;
  text-align: center;
  margin: auto;
  padding: 3%;
}

.randomimage img {

  border: solid 2px black;
  height: 350px;
  width: 250px;
  -o-object-fit: contain;
  object-fit: contain;
  
}

li {

  padding: 5px;
  margin: auto;
  text-align: left;
  
}
.randomimage {

  height: 50%;
}

p {

  font-size: 2em;
}